
  


body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url(plaa.jpg);
    background-size: 100%;
    padding: 0px 20px;
    background-color:white;
    background-attachment: fixed;
    color: #333;
    
}

.header {
    background-color:rgba(255, 255, 255, 0.547);

    color:black;
    padding: 20px 0;
    text-align: center;
    background-image:"C:\Users\nitis\OneDrive\Desktop\astro images\planet.jpg";
}


nav ul {
    list-style-type: none;
    padding: 0px 15px;
    text-align:left;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin: 20px 0;
    padding: 15px;
    background-color:black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(86, 82, 82, 0.1);
}
.planet{
        /* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);

    
    
    border-radius: 10px;
    margin: 15px 15px;
    padding: 100px;
    border:2px solid white;
}
.planet:hover{
    
    text-decoration:aliceblue;
    background-color:rgba(0, 0, 0, 0.647);
    transition-duration: 0.5s;
    border-color: rgba(0,0,0,0.647);
    
}
.planet:hover p{
    color:white;
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color:rgba(255, 255, 255, 0.547);
    color: white;
    position: relative;
   
    bottom: 0;
    width: 100%;
}
footer p{
    color:white;
}

 .section:hover .heading h2 {
    transition: all 0.5s ease-in-out;
   color:white;
} 
h2{
    color: #b22114;
}
p{
    color:black;
}
body div header h1{
    color:black;
}
main div {
    padding-right: 4%;
    
  
}
.container{
    display:flex;
    flex-direction:column;
   
}
.threecontainer{
    display:flex;
    flex-direction: row;
    width:100%;
    align-items: center;
    justify-content: space-between;
}
.planet{
    width:20%;
    height:400px;
}
